#### 
In the below project the cleaning of the tweets from text column , tokenization of tweets and removal of stop words has been done.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train=pd.read_csv("D:/Brainworks/Projects/Tweet_analysis/Datasets/train.csv")
df_test=pd.read_csv("D:/Brainworks/Projects/Tweet_analysis/Datasets/test.csv")

In [3]:
print(df_train.shape)
print(df_test.shape)

(7613, 5)
(3263, 4)

In [4]:
display(df_train.sample(7))
print()
display(df_test.sample(7))

,id,keyword,location,text,target
5176,7383,obliterate,cedar rapids ia,World of warships makes me mad sometimes but i...,0
1964,2828,cyclone,Geneva,Back to the future in #Vanuatu how Cyclone Pam...,1
391,565,arson,Republic of Texas,Arson suspect linked to 30 fires caught in Nor...,1
411,594,arson,NaN,Arson suspect linked to 30 fires caught in Nor...,1
4469,6355,hostages,OK,@TexansDC @kylekrenek @Zepp1978 @Frobeus_NS Ne...,0
6285,8978,storm,NC || OR,ice cream + cupcake wars + storm = content sara,0
6003,8575,screams,NaN,So @LawsonOfficial just followed me and I cann...,0

,id,keyword,location,text
58,189,aftershock,In your hearts and minds,@JadeForMKX You should be happy I don't use Af...
2345,7838,quarantine,Maryland,Reddit Is Planning to 'Quarantine' Its Most To...
1571,5303,fear,"Free Hanseatic City of Bremen, Germany",My grandma had always fear and in some way she...
2544,8485,screamed,trust none..,@CokeBoys__ yo best I screamed when I watched ...
779,2574,crash,NaN,New post: 'India Train Crash Kills Dozens' htt...
2688,8958,storm,"Florence, SC",The Florence Regional Airport Director says no...
2822,9370,survived,uncanny valley,You'll be pleased to know I survived my dental...

In [5]:
import re
import string
import pandas as pd

def clean_text(text):
    if pd.isnull(text):
        return ""
    text = re.sub(r'https?://\S+|www\.\S+', '', text)
    text = re.sub(
        r'['
        u'\U0001F600-\U0001F64F'
        u'\U0001F300-\U0001F5FF'
        u'\U0001F680-\U0001F6FF'
        u'\U0001F1E0-\U0001F1FF'
        u'\U00002702-\U000027B0'
        u'\U000024C2-\U0001F251'
        ']+', 
        '', 
        text
    )
    text = re.sub(r'<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});', '', text)
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = text.lower()
    text = " ".join(text.split())
    return text

df_train['text_clean'] = df_train['text'].apply(clean_text)
df_test['text_clean'] = df_test['text'].apply(clean_text)

print("Cleaned Train Data:")
print(df_train[['text', 'text_clean']].head())

print("---" * 30)

print("Cleaned Test Data:")
print(df_test[['text', 'text_clean']].head())

Cleaned Train Data:
                                                text  \
0  Our Deeds are the Reason of this #earthquake M...
1             Forest fire near La Ronge Sask. Canada
2  All residents asked to 'shelter in place' are ...
3  13,000 people receive #wildfires evacuation or...
4  Just got sent this photo from Ruby #Alaska as ...

                                          text_clean
0  our deeds are the reason of this earthquake ma...
1              forest fire near la ronge sask canada
2  all residents asked to shelter in place are be...
3  13000 people receive wildfires evacuation orde...
4  just got sent this photo from ruby alaska as s...
------------------------------------------------------------------------------------------
Cleaned Test Data:
                                                text  \
0                 Just happened a terrible car crash
1  Heard about #earthquake is different cities, s...
2  there is a forest fire at spot pond, geese are...
3           Apocalypse lighting. #Spokane #wildfires
4      Typhoon Soudelor kills 28 in China and Taiwan

                                          text_clean
0                 just happened a terrible car crash
1  heard about earthquake is different cities sta...
2  there is a forest fire at spot pond geese are ...
3              apocalypse lighting spokane wildfires
4      typhoon soudelor kills 28 in china and taiwan

In [6]:
df_train.isnull().sum()

id               0
keyword         61
location      2533
text             0
target           0
text_clean       0
dtype: int64

In [8]:
!pip install nltk

Collecting nltk

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Collecting click (from nltk)
  Downloading click-8.1.8-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: joblib in d:\brainworks\projects\tweet_analysis\venv\lib\site-packages (from nltk) (1.4.2)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.11.6-cp312-cp312-win_amd64.whl.metadata (41 kB)
     ---------------------------------------- 0.0/41.5 kB ? eta -:--:--
     ------------------ ------------------- 20.5/41.5 kB 682.7 kB/s eta 0:00:01
     -------------------------------------- 41.5/41.5 kB 666.1 kB/s eta 0:00:00
Collecting tqdm (from nltk)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.7 kB ? eta -:--:--
     ---------------------------------------- 57.7/57.7 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: colorama in d:\brainworks\projects\tweet_analysis\venv\lib\site-packages (from click->nltk) (0.4.6)
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ------------------------- -------------- 0.9/1.5 MB 19.8 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 19.2 MB/s eta 0:00:00
Downloading regex-2024.11.6-cp312-cp312-win_amd64.whl (273 kB)
   ---------------------------------------- 0.0/273.6 kB ? eta -:--:--
   --------------------------------------- 273.6/273.6 kB 16.5 MB/s eta 0:00:00
Downloading click-8.1.8-py3-none-any.whl (98 kB)
   ---------------------------------------- 0.0/98.2 kB ? eta -:--:--
   ---------------------------------------- 98.2/98.2 kB 5.9 MB/s eta 0:00:00
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.5 kB ? eta -:--:--
   ---------------------------------------- 78.5/78.5 kB 4.3 MB/s eta 0:00:00
Installing collected packages: tqdm, regex, click, nltk
Successfully installed click-8.1.8 nltk-3.9.1 regex-2024.11.6 tqdm-4.67.1

In [28]:
import pandas as pd
from nltk.tokenize import word_tokenize

import nltk
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Anand\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Anand\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [29]:
##we will tokenize the 'text_clean' column

df_train['tokenized']=df_train['text_clean'].apply(word_tokenize)
df_test['tokenized']=df_test['text_clean'].apply(word_tokenize)

In [31]:
# Display tokenized results
print("Train Data Tokenized:")
print(df_train[['text_clean', 'tokenized']].head())

print("---" * 30)

print("Test Data Tokenized:")
print(df_test[['text_clean', 'tokenized']].head())

Train Data Tokenized:
                                          text_clean  \
0  our deeds are the reason of this earthquake ma...
1              forest fire near la ronge sask canada
2  all residents asked to shelter in place are be...
3  13000 people receive wildfires evacuation orde...
4  just got sent this photo from ruby alaska as s...

                                           tokenized
0  [our, deeds, are, the, reason, of, this, earth...
1      [forest, fire, near, la, ronge, sask, canada]
2  [all, residents, asked, to, shelter, in, place...
3  [13000, people, receive, wildfires, evacuation...
4  [just, got, sent, this, photo, from, ruby, ala...
------------------------------------------------------------------------------------------
Test Data Tokenized:
                                          text_clean  \
0                 just happened a terrible car crash
1  heard about earthquake is different cities sta...
2  there is a forest fire at spot pond geese are ...
3              apocalypse lighting spokane wildfires
4      typhoon soudelor kills 28 in china and taiwan

                                           tokenized
0          [just, happened, a, terrible, car, crash]
1  [heard, about, earthquake, is, different, citi...
2  [there, is, a, forest, fire, at, spot, pond, g...
3         [apocalypse, lighting, spokane, wildfires]
4  [typhoon, soudelor, kills, 28, in, china, and,...

In [24]:
import nltk
print(nltk.data.find('tokenizers/punkt'))

D:\Brainworks\Projects\Tweet_analysis\venv\nltk_data\tokenizers\punkt

In [26]:
nltk.download('punkt', download_dir="D:/Brainworks/Projects/Tweet_analysis/venv")
import nltk
nltk.data.path.append("D:/Brainworks/Projects/Tweet_analysis/venv")

[nltk_data] Downloading package punkt to
[nltk_data]     D:/Brainworks/Projects/Tweet_analysis/venv...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [35]:
display(df_train.sample(5))
print()
display(df_test.sample(5))

,id,keyword,location,text,target,text_clean,tokenized
2120,3047,death,"New York, New York",The first trial in the death of #CecilTheLion ...,0,the first trial in the death of cecilthelion w...,"[the, first, trial, in, the, death, of, cecilt..."
6264,8949,storm,"Chicago, IL",How to prepare your #property for a #storm:\n\...,1,how to prepare your property for a storm,"[how, to, prepare, your, property, for, a, storm]"
1797,2579,crash,"Melbourne, Australia",@DestinyTheGame @Bungie @PlayStation Getting k...,0,destinythegame bungie playstation getting kick...,"[destinythegame, bungie, playstation, getting,..."
2499,3589,desolate,Macclesfield,@booksbyRoger TY for the follow Go To http://t...,0,booksbyroger ty for the follow go to brutally ...,"[booksbyroger, ty, for, the, follow, go, to, b..."
6531,9342,survived,London,Survived another tube strike with the last per...,0,survived another tube strike with the last per...,"[survived, another, tube, strike, with, the, l..."

,id,keyword,location,text,text_clean,tokenized
2024,6816,loud%20bang,Kenya,k_matako_bot: Breaking news! Unconfirmed! I ju...,kmatakobot breaking news unconfirmed i just he...,"[kmatakobot, breaking, news, unconfirmed, i, j..."
575,1871,burning,mumbai,hermancranston: WIRED : All these fires are bu...,hermancranston wired all these fires are burni...,"[hermancranston, wired, all, these, fires, are..."
419,1358,blown%20up,NaN,@DodgersNation he was due to get blown up at l...,dodgersnation he was due to get blown up at le...,"[dodgersnation, he, was, due, to, get, blown, ..."
1957,6599,inundated,GroÌÙdeutsches Reich,Our children are being inundated with the fals...,our children are being inundated with the fals...,"[our, children, are, being, inundated, with, t..."
285,922,bioterrorism,NaN,To fight bioterrorism sir.,to fight bioterrorism sir,"[to, fight, bioterrorism, sir]"

In [36]:
###we will do lowercase,Stopword removal, POS tagging, and Wordnet COnversion

In [38]:
df_train['lower']=df_train['tokenized'].map(lambda tokens:[word.lower() for word in tokens])

##display the first few rows of processed data
print(df_train[['tokenized','lower']].head())

                                           tokenized  \
0  [our, deeds, are, the, reason, of, this, earth...
1      [forest, fire, near, la, ronge, sask, canada]
2  [all, residents, asked, to, shelter, in, place...
3  [13000, people, receive, wildfires, evacuation...
4  [just, got, sent, this, photo, from, ruby, ala...

                                               lower
0  [our, deeds, are, the, reason, of, this, earth...
1      [forest, fire, near, la, ronge, sask, canada]
2  [all, residents, asked, to, shelter, in, place...
3  [13000, people, receive, wildfires, evacuation...
4  [just, got, sent, this, photo, from, ruby, ala...

In [39]:
df_train.head()

,id,keyword,location,text,target,text_clean,tokenized,lower
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,our deeds are the reason of this earthquake ma...,"[our, deeds, are, the, reason, of, this, earth...","[our, deeds, are, the, reason, of, this, earth..."
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada,"[forest, fire, near, la, ronge, sask, canada]","[forest, fire, near, la, ronge, sask, canada]"
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,all residents asked to shelter in place are be...,"[all, residents, asked, to, shelter, in, place...","[all, residents, asked, to, shelter, in, place..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,13000 people receive wildfires evacuation orde...,"[13000, people, receive, wildfires, evacuation...","[13000, people, receive, wildfires, evacuation..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,just got sent this photo from ruby alaska as s...,"[just, got, sent, this, photo, from, ruby, ala...","[just, got, sent, this, photo, from, ruby, ala..."

In [41]:
from nltk.corpus import stopwords

##Ensure stopwords are available
nltk.download('stopwords')
stop=set(stopwords.words('english'))

###Remove stopwords from the 'lower' column
df_train['stopwords_removed']=df_train['lower'].map(lambda tokens:[word for word in tokens if word not in stop])

##display the first few rows with stopwords removed
print(df_train[['lower','stopwords_removed']].head())

                                               lower  \
0  [our, deeds, are, the, reason, of, this, earth...
1      [forest, fire, near, la, ronge, sask, canada]
2  [all, residents, asked, to, shelter, in, place...
3  [13000, people, receive, wildfires, evacuation...
4  [just, got, sent, this, photo, from, ruby, ala...

                                   stopwords_removed
0  [deeds, reason, earthquake, may, allah, forgiv...
1      [forest, fire, near, la, ronge, sask, canada]
2  [residents, asked, shelter, place, notified, o...
3  [13000, people, receive, wildfires, evacuation...
4  [got, sent, photo, ruby, alaska, smoke, wildfi...

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Anand\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!